.mainKids , .womenMain {
  /* background: linear-gradient(
    to right,
    rgba(241, 246, 249, 1) 0%,
    rgba(214, 226, 235, 1) 0%,
    rgba(225, 240, 250, 1) 0%,
    rgba(119, 178, 223, 0.85) 51%,
    rgba(175, 199, 213, 0.7) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f6f9', endColorstr='#afc7d5', GradientType=1 );
  min-height: 450px; */
  background: #ffffee;
}

main .aboutPic{
  background-image: url("/_images/aboutUs.jpg");
  background-position:  center;
  background-size: cover;
  min-height: 260px;
}

main .titleAbout{
  
  color: #131313;

color: #FFFFFF;
/* background: #232323; */
text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0), 0 0 20px #1861ff, 0 0 30px #1861ff, 0 0 40px #1861ff, 0 0 55px #1861ff, 0 0 75px #1861ff;
}

main .insideBox {
  min-height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  border: 2px solid white;
}

main .box h4 {
  border-bottom: 1px solid rgb(13, 14, 13);
  display: inline;
}

/* npou;giufvkuylzsdg;jndsfg;hd;foughuosrg */
main .aboutBox {
  text-align: center;
  text-align: justify;
  border: 2px solid white;
  border-radius: 4px;
  -webkit-box-shadow: -4px 3px 33px -1px rgba(1, 2, 10, 1);
  -moz-box-shadow: -4px 3px 33px -1px rgba(1, 2, 10, 1);
  box-shadow: -4px 3px 33px -1px rgba(1, 2, 10, 1);




  /* background: linear-gradient(135deg, rgba(227,255,143,1) 44%, rgba(187,250,0,1) 58%, rgba(221,253,123,1) 68%, rgba(238,255,184,1) 73%, rgba(238,255,184,1) 100%); */


}

main .disappear {
  display: none;
  /* columns:2; */

}


 