body{
  background: #ffffee;
}

main .imgGame{
  text-align: center;
}

main .gameBody{
  border: 4px solid white;
  border-radius: 7px;
   background: #bbdefb;;
}

main .gameDesapeer{
  display: none;
}

